<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title th:text="${game_name}"></title>
    <link rel=" canonical" href="http://"/>
    <meta name='robots' content='noindex,follow'/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/advice.js}"></script>
</head>
<body>
<input type="hidden" id="serverUrl" th:value="${serverUrl}"/>
<input type="hidden" id="gameUrl" th:value="${gameUrl}"/>

<!-- #page-register-protocol -->
<div id="page-register-protocol" class="page">
    <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title" th:text="${game_name}"></h1>
        </header>
    </div>
    <div class=" main-container">
        <div class="main wrapper clearfix">
            <!--<article>-->
                <!--<div id="start-icon">-->
                <!--</div>-->
            <!--</article>-->
            <aside>
                <hr/>
                <div>
                    <div class="page-health-notice">
                        <div>
                            健康游戏忠告
                        </div>
                        <div>
                            抵制不良游戏，拒绝盗版游戏。<br>
                            注意自我保护，谨防受骗上当。<br>
                            适度游戏益脑，沉迷游戏伤身。<br>
                            合理安排时间，享受健康生活。
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<!-- tips panel -->
<div id="panel-tips-parent"/>
</body>
</html>